<div class="container">
    <h1 class="display-2 pb-2 mt-4 mb-2 border-bottom">Secrets</h1>
    <% for secret in @secrets %>
    <div class="row">
        <div class="col">
        <div class='row'>
            <div class='col'>
                <p class="font-weight-bold"><%= secret.content %></p>
                <p><%= secret.likes.count %> likes</p>
            </div>
            <div class='col'>
                <% unless secret.users.include?(current_user) %>
                    <form action="/likes/<%= secret.id %>" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <button type="submit" class="btn btn-sm btn-primary" id='like'>Like</button>
                    </form>
                <% else %>
                    <a href="/likes/<%= Like.where(user: current_user, secret: secret).first.id %>" data-method="delete" id="unlike"><button class="btn btn-sm btn-info">Unlike</button></a>
                <% end %>
            </div>
        </div>
            
        </div>
        <div class="col">
            <% if secret.user == current_user %>
                <a href="/secrets/<%= secret.id %>" data-method='delete' id="delete"><button class="btn btn-danger">Delete</button></a>
            <% end %>
        </div>
    </div>
    <% end %>
</div>