<div class="container">
    <h1 class="display-2 pb-2 mt-4 mb-2 border-bottom">Edit <%= @user.name %></h1>
    <form action="/users/<%= @user.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="patch">
        <table class="table">
            <tr>
                <td><label for="Name">Name:</label></td>
                <td><input class="form-control" type="text" name="user[name]" id="Name" value="<%= @user.name %>"></td>
            </tr>
            <tr>
                <td><label for="Email">Email:</label></td>
                <td><input class="form-control" type="email" name="user[email]" id="Email" value="<%= @user.email %>"></td>
            </tr>
        </table>
        <button class="btn btn-success">Update</button>
        <a href="/users/<%= @user.id %>" data-method="delete" id="delete"><button class="btn btn-danger">Delete Account</button></a>
    </form>
</div>