<div class="container">
    <h1 class="display-2 pb-2 mt-4 mb-2 border-bottom">Hello, <%= @user.name %></h1>
    <a href="/users/<%= @user.id %>/edit">Edit Profile</a>
    <div class="left">
        <h2 display-4>Add a Secret</h2>
        <form action="/secrets" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <textarea name="secret[content]" id="Content" cols="75" rows="2"></textarea>
            <button class="btn btn-primary btnmgn" type="submit">Create Secret</button>
            <a href="/secrets"><button class="btn btn-info btnmgn">All Secrets</button></a>
        </form>
    <div class="row">
        <div class="col">
            <h2 class="pb-2 mt-4 border-bottom">Secrets</h2>
            <div class="secrets">
                <% for secret in @user.secrets %>
                <div class="row">
                    <div class="col">
                        <p><%= secret.content %></p>
                    </div>
                    <div class="col">
                        <a href="/secrets/<%= secret.id %>" data-method="delete" id="delete"><button class="btn btn-sm btn-danger">Delete</button></a>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="col">
            <h2 class="pb-2 mt-4 border-bottom">Secrets Liked</h2>
            <% for secret in @user.liked_secrets %>
                <p><%= secret.content %></p>
            <% end %>
        </div>
    </div>
    </div>
</div>
