<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Secrets</h1>
    </div>
    <div class="secrets">
        <% for secret in @secrets %>
            <div class="row">
                <div class="col text-left">
                    <h2><%= secret.content %></h2>
                    <div class="row">
                        <div class="col-8">
                            <p><%= secret.likes.count %> likes</p>
                        </div>
                        <div class="col-4">
                        <% unless secret.users.include?(current_user) %>
                            <form action="/likes" method="post">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input type="hidden" name="like[secret_id]" value="<%= secret.id %>">
                                <button class="btn btn-sm btn-success" type="submit" id="like">Like</button>
                            </form>
                        <% else %>
                            <a id="unlike" href="/likes/<%= Like.where(user: current_user, secret: secret).first.id %>" data-method="delete"><button class="btn btn-sm btn-warning" type="button">Unlike</button></a>
                        <% end %>
                    </div>
                    </div>
                </div>
                <div class="col delete_button">
                    <% if secret.user == current_user %>
                        <a href="/secrets/<%= secret.id %>" data-method="delete" id="delete"><button class="btn btn-danger mt-4">Delete Secret</button></a>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>