<!DOCTYPE html>
<html>
  <head>
    <title>Secrets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if flash[:messages] %>
      <% for msg in flash[:messages]%>
        <p class="text-danger font-weight-bold m-0"><%= msg %></p>
      <% end %>
    <% end %>
    <% if current_user %>
      <a href="/sessions/<%= current_user.id %>" data-method="delete" id="Log Out">Log Out</a>
    <% end %>
  </body>
</html>
