<div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom display-4 left">
        Edit <%= @user.first_name %> <%= @user.last_name %>
        <a class="float" href="/sessions" data-method="delete"><button class="btn btn-primary">Logout</button></a>
        <a class="float mr-1" href="/users"><button class="btn btn-primary">Back</button></a>
    </div>
    <form action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="PUT">
        <table class="table table-borderless">
            <tr>
                <td><label for="first_name">First Name:</label></td>
                <td><input class="form-control" type="text" name="user[first_name]" id="first_name" value="<%= @user.first_name %>"></td>
            </tr>
            <tr>
                <td><label for="last_name">Last Name:</label></td>
                <td><input class="form-control" type="text" name="user[last_name]" id="last_name" value="<%= @user.last_name %>"></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input class="form-control" type="email" name="user[email]" id="email" value="<%= @user.email %>"></td>
            </tr>
            <tr>
                <td><label for="admin">Role:</label></td>
                <td><select class="form-control" name="user[admin]" id="admin">
                    <option value="false">Student</option>
                    <option value="true">Instructor</option>
                </select></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input class="form-control" type="password" name="user[password]" id="password"></td>
            </tr>
            <tr>
                <td><label for="password_confirmation">Confirm Password:</label></td>
                <td><input class="form-control" type="password" name="user[password_confirmation]" id="password_confirmation"></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>